{% extends "base.html" %}

{% block content %}
	<form action="" method ="GET">
		<input type="text" name="q" value="{{ request.GET.q }}">
		<input type="submit" value="Submit"><br> <br>
		<button type="submit" formaction="{% url 'download' %}">Download records in CSV format</button>

	</form>
	<br><br><a href="{% url 'create' %}">Create new record</a><br><br>

	<h1>Records</h1>

	{% for dt in data %}

		<h1><a href="{% url 'detail' id=dt.id %}">{{dt.title}}</a></h1>
		<p>Description : {{dt.description}}</p>
		<p>Created Time : {{dt.created_time}}</p>
		<p>Status : {{dt.status}}</p>
		<p>Updated Time : {{dt.updated_time}}</p>
		<p>Deleted : {{dt.is_deleted}}</p>
		
		
	{% endfor %}


{% endblock %}
